a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.logo{
    font-size: 24px;
    color: #f9faf8;

}
.hero img{
    width: 600px;
    height: auto;
}
.contents img{
    width: 200px;
    height: 175px;
    border-radius: 8px;
    border: solid;
    border-color: #1f2937;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
   
}

.header, .hero,  .footer{
    background-color: #1f2937;
}
 .quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light italic;
    color: #1f2937;
 }
 .author{
    font-weight: bold;
    align-self: flex-end;
 }

 .headers{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
 }
  
.links, .texto{
    font-size: 18px;
    color:#e5e7eb;
}
.cards .headers{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

button, .cuadro{
    background-color: #3882f6;
}
.links{
    display: flex;
    gap: 15px;
}
.header{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.hero{
    display: flex;
    padding: 30px;
}

.cards{
    text-align: center;
    padding: 25px;
}
.contents{
    padding: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div{
    max-width: 200px;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 20px;
}
.cuadro{
    padding: 20px;
    display: flex;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}